* {
  margin: 0
}
body {
  background-color: rgb(255, 255, 255);
}

#cabeceraweb { 
  color: white;
  background-color: black;
}
#navegacionprincipal {
  background-color: black;
  float: left;
  margin-top: 40px;
  height: 250mm;  
  width: 23mm;
  line-height: 75px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#animacion {
  -webkit-transition: -webkit-transform 1s ease 0.5;
  -ms-transition: -ms-transform 1s ease 0.5;
  -moz-transition: -moz-transform 1s ease 0.5;
  -o-transition: -o-transform 1s ease 0.5;
}

#animacion:hover {
  -webkit-transform: translate(2px, -2px);
  -o-transform: translate(2px, -2px);
  -moz-transform: translate(2px, -2px);
  -ms-transform: translate(2px, -2px)
}